
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3> Store List</h3>
<a href="/Store/StoreList">View StoreList</a>

<h3> Staff List</h3>
<a href="/Store/StaffList">View StaffList</a>

<h3> Customer List</h3>
<a href="/Store/CustomerList">View CustomerList</a>

<h3> Products List</h3>
<a href="/Store/ProductsList">View ProducstList</a>

<h3> Transactions</h3>
<a href="/Store/TransactionList">View Transactions</a>

<h3> Add New Customer</h3>
<a href="/Store/NewCustomer">Add New Customer</a>

<h3> Add New Product</h3>
<a href="/Store/NewProduct">Add New Product</a>

<h3> Add New Staff</h3>
<a href="/Store/NewStaff">Add New Staff</a>

<h3> Add New Transaction</h3>
<a href="/Store/NewPurcahseHeade">Add New Transaction</a>


