@{
    ViewBag.Title = "NewCustomer";
}

<h2>Add New Customer</h2>
<form method ="post">
    <label>Name: <input type ="text" name="Name"/></label>
    <br/>
    <label>Address: <input type="text" name="Address" /></label>
    <br/>
    <label>Phone: <input type="text" name="Phone" /></label>
    <br/>
    <br/>
    <input type="submit" />
</form>
