
@{
    ViewBag.Title = "NewProduct";
}

<h2>NewProduct</h2>
<form method="post">
    <label>Name: <input type="text" name="Name" /></label>
    <br/>
    <label>Price: <input type="text" name="Price" /></label>
    <br/>
    <br/>
    <input type="submit" />
</form>
