
@{
    ViewBag.Title = "NewStaff";
}

<h2>NewStaff</h2>
<form method="post">
    <label>Roll_ID: <input type="text" name="Roll_ID" /></label>
    <br />
    <label>Name: <input type="text" name="Name" /></label>
    <br />
    <label>Location: <input type="text" name="Location" /></label>
    <br />
    <input type="submit" />
</form>
