@model List<MVCExample.Models.Store>
@{
    ViewBag.Title = "StoreList";
}

<h2>StoreList</h2>

 <table>
    <tr>
        <th>ID</th>
        <th>Store Name</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
        </tr>
    }
</table>
