
@{
    ViewBag.Title = "JSExercise";
}

<h2>JSExercise</h2>

<script src="~/Content/exercise.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<button onclick="hello()">Click Here</button>
<button onclick="Change()">Change Text</button>
<p class="target">Start Text</p>
<p>Strat Text</p>
<p class="target">Strat Text</p>
<p>Start Text</p>