
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h3>Toby</h3>
        <p>Tutor</p>
        <h3>Sravani</h3>
        <p>Remote Participant</p>
        <h3>Antonella</h3>
        <p>Local Participant</p>
    </div>
</body>
</html>

